wheel
flake8
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-Seeder
Flask-SQLAlchemy
flask-swagger-ui
Flask-Testing
gunicorn
phonenumbers
psycopg2-binary
PyJWT==1.7.1
requests
validators
